# created by virtualenv automatically
# Python virtual environments

Lib
Dataset
Colab Dataset
savedPlots
venv/
env/
__pycache__/
savedModels
TempML
TempCW
Misc
Scripts

# Node.js dependencies
node_modules/

# IDE specific files (PyCharm)
.idea/

# macOS system files
.DS_Store

# Log files
*.log
*.tmp
/FasterR-CNN/savedModels/
/FasterR-CNN/log_with_pin/
/FasterR-CNN/log_no_pin/
/FasterR-CNN/blob_storage/
/FasterR-CNN/.cache/
/FasterR-CNN/wandb/
/FasterR-CNN/test_image/
/FasterR-CNN/webrtc_event_logs/
/share/
/Misc/
/Scripts/
/share/
/Scripts/


